<html lang="en">
<%-include ('../partials/header.ejs')%> 
    <h1>
    Blog Details
    </h1>


    <div class="details">

    <h3><%-blog.title%></h3>

    <div class="details-content">
    <p><%-blog.body%></p>

    </div>

    </div>

         <a class="delete" data-doc="<%-blog._id %>">
           
            Delete
        </a>

    <script>
        const trash=document.querySelector('.delete');
        trash.addEventListener('click', e =>{
           const endpoint=`/blogs/${trash.dataset.doc}`; 
        

        fetch(endpoint,{
            method:'DELETE',
        })
        .then(response=>response.json())
        .then(data=>{
            window.location.href=data.redirect
        })
        .catch(err=>{console.log(err.message)})
        
})
    </script>

<%-include ('../partials/footer.ejs')%> 
</html>
