<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<%-include('../partials/header') %> 

<body>
    <h1>hello ninjas</h1>
</body>


<div class="blog-content">
 
    <%if (blogs.length>0){ %> 
        <% blogs.map(blog => { %>
            <div>
                <h3><%-blog.title%></h3>
                <p><%-blog.snippet%></p>

            </div>
        <% })%>

        <% }else{ %>
            
            <div>No blogs yet</div>
        
        <% }%>
          

</div>


<%- include('../partials/nav') %> 
<%-include('../partials/footer') %> 
</html>